<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.sweetsoft.wordbox.wordbox">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="sweetybox.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="ir.sweetsoft.wordbox.wordbox.Model.Word,ir.sweetsoft.wordbox.wordbox.Model.User,ir.sweetsoft.wordbox.wordbox.Model.Box,ir.sweetsoft.wordbox.wordbox.Model.Parameter,ir.sweetsoft.wordbox.wordbox.Model.EngToFa,ir.sweetsoft.wordbox.wordbox.Model.EngToEng" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="ir.sweetsoft.wordbox.wordbox"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".ManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>